/* Estilo geral da página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0e043d;
    text-align: center;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

h1 {
    margin: 0;
    font-size: 36px;
}

/* Estilo para a galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

/* Estilo para as fotos estilo Polaroid */
.polaroid {
    width: 200px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transform: rotate(-2deg);
    transition: transform 0.3s;
}

.polaroid:hover {
    transform: rotate(0deg);
}

.polaroid img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.caption {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}
